body{
    margin-top: 60px;
}


footer a i {
    font-size: 24px;
    /* Imposta la dimensione desiderata per le icone */
    margin: 0 10px;
    /* Aggiungi spazio tra le icone */
    color: black;
}

#logOut{
    cursor: pointer;
}
