body {
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
  /* Utilizzo di min-height per garantire che almeno l'altezza della viewport venga occupata */
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.post {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: relative;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.post-content {
  flex: 1;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.action-icons {
  display: flex;
}

.action-icons i {
  margin-right: 10px;
  cursor: pointer;
}

.add-post-button {
  color: #007bff;
  font-size:26px;
}

.like-button {
  cursor: pointer;
}

.like-button i {
  color: black;
  /* Colore iniziale del cuore */
  transition: color 0.3s ease;
  /* Aggiungi una transizione per un effetto più fluido */
}

.like-button.liked i {
  color: red;
  /* Cambia il colore del cuore a rosso quando la classe 'liked' è presente */
}